::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.notification-container{
    height: 91.8vh;
    width: 82%;
    color: #66b3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.notification-header{
    width: 98%;
    height: 10%;
    padding-left: 1rem;
    border-bottom: 1px solid #66b3ff;
    display: flex;
    align-items: center;
}

.notification-content{
    width: 98%;
    height: 88%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
}

.notification{
    width: 100%;
    height: auto;
    padding-left: 0.5rem;
    background-color: hsla(215, 15%, 40%, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification h1{
    font-size: 1.3rem;
    font-weight: 400;
}